#header {
  margin-top: 0;
  padding-top: 0;
}
header {
  height: 100vh;
  padding-top: 6rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.util {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.my-image {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
}
.scroll-feature {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
}

.scroll-down {
  font-size: 2rem;
}

.label {
  color: var(--color-primary);
}

/* Media Queries for medium devices */

@media screen and (max-width: 1024px) {
  #header {
    height: 100vh;
  }
}
/* Media Queries for small devices */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .scroll-feature {
    display: none;
  }
}
